In [1]:
#instalo pandas
%pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\niki\anaconda3\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\users\niki\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\niki\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\niki\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\niki\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: et_xmlfile in c:\users\niki\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\niki\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#importo la librería
import pandas as pd

In [3]:
#Reporte: Egresos de los hospitales del Gobierno de la Ciudad de Buenos Aires por hospital, por mes. Ciudad de Buenos Aires. 2005/2019
#Guardo ubicacion de dataset y leo dataset: egresos por hospital, por mes. Datos: 2005 - 2017.

ubicacion_xlsx_prueba = 'https://www.estadisticaciudad.gob.ar/eyc/wp-content/uploads/2017/05/S_MVH_AX09.xlsx'
df_ma_internacion = pd.read_excel(ubicacion_xlsx_prueba, sheet_name='2017',
     header=1
)
#traigo el nombre de las columnas
df_ma_internacion.columns.values

array(['Hospital', 'Total', 'Ene.', 'Feb.', 'Mar.', 'Abr.', 'May.',
       'Jun.', 'Jul.', 'Ago.', 'Sep.', 'Oct.', 'Nov.', 'Dic.'],
      dtype=object)

In [5]:
### PRUEBA ITERACION - FUNCIONA!
url_base = 'https://www.estadisticaciudad.gob.ar/eyc/wp-content/uploads/2017/05/S_MVH_AX09.xlsx'

dfs = []
# Loop para los años 2005 a 2017
for year in range(2005, 2018):
    # Leer el archivo Excel para el año actual
    df = pd.read_excel(url_base, sheet_name=str(year), header=1)
    # Agregar una columna con el año
    df['Año'] = year
    # Agregar el DataFrame a la lista
    dfs.append(df)

# Concatenar todos los DataFrames en uno solo
df_concatenado = pd.concat(dfs, ignore_index=True)

# Mostrar las primeras filas del DataFrame concatenado
print(df_concatenado.head())

                       Hospital     Total     Ene.     Feb.     Mar.     Abr.  \
0                         Total  191100.0  14613.0  13459.0  15595.0  15921.0
1  Hospitales grales. de agudos  132431.0  10259.0   9327.0  10887.0  10963.0
2                       Álvarez    9331.0    490.0    380.0    533.0    697.0
3                      Argerich   14601.0   1255.0   1057.0   1236.0   1182.0
4                        Durand   10753.0    875.0    752.0    895.0    847.0

      May.     Jun.     Jul.     Ago.     Sep.     Oct.     Nov.     Dic.  \
0  16380.0  16355.0  17073.0  17068.0  16545.0  16121.0  16049.0  15921.0
1  11344.0  11387.0  11904.0  11937.0  11447.0  11129.0  10881.0  10966.0
2    850.0    808.0    999.0    972.0    990.0    953.0    836.0    823.0
3   1229.0   1220.0   1308.0   1283.0   1213.0   1224.0   1200.0   1194.0
4    883.0    906.0    960.0    981.0    901.0    923.0    928.0    902.0

    Año
0  2005
1  2005
2  2005
3  2005
4  2005

In [6]:
print(df_concatenado)

                                              Hospital     Total     Ene.  \
0                                                Total  191100.0  14613.0
1                         Hospitales grales. de agudos  132431.0  10259.0
2                                              Álvarez    9331.0    490.0
3                                             Argerich   14601.0   1255.0
4                                               Durand   10753.0    875.0
..                                                 ...       ...      ...
440                                        Santa Lucía    4355.0    368.0
441                                              Sardá   12880.0   1040.0
442                                       Tobar García     401.0     32.0
443                                            Udaondo    2062.0    186.0
444  Fuente: Dirección General de Estadística y Cen...       NaN      NaN

        Feb.     Mar.     Abr.     May.     Jun.     Jul.     Ago.     Sep.  \
0    13459.0  15595.0  15921.0  16380.0  16355.0  17073.0  17068.0  16545.0
1     9327.0  10887.0  10963.0  11344.0  11387.0  11904.0  11937.0  11447.0
2      380.0    533.0    697.0    850.0    808.0    999.0    972.0    990.0
3     1057.0   1236.0   1182.0   1229.0   1220.0   1308.0   1283.0   1213.0
4      752.0    895.0    847.0    883.0    906.0    960.0    981.0    901.0
..       ...      ...      ...      ...      ...      ...      ...      ...
440    306.0    317.0    332.0    404.0    398.0    357.0    354.0    417.0
441   1097.0   1094.0   1172.0   1104.0   1083.0   1043.0   1048.0   1069.0
442     32.0     32.0     32.0     30.0     37.0     33.0     34.0     31.0
443    147.0    196.0    156.0    168.0    177.0    167.0    191.0    184.0
444      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

        Oct.     Nov.     Dic.   Año
0    16121.0  16049.0  15921.0  2005
1    11129.0  10881.0  10966.0  2005
2      953.0    836.0    823.0  2005
3     1224.0   1200.0   1194.0  2005
4      923.0    928.0    902.0  2005
..       ...      ...      ...   ...
440    381.0    404.0    317.0  2017
441    977.0   1069.0   1084.0  2017
442     34.0     35.0     39.0  2017
443    152.0    159.0    179.0  2017
444      NaN      NaN      NaN  2017

[445 rows x 15 columns]

In [7]:
#Reporte: Egresos de los hospitales del Gobierno de la Ciudad de Buenos Aires y distribución porcentual por residencia habitual, 1994/2019
#Guardo ubicacion de dataset y leo dataset

ubicacion_xlsx_egresos_residencia = 'https://www.estadisticaciudad.gob.ar/eyc/wp-content/uploads/2013/05/S_MVH_AX10.xlsx'
df_egresos_residencia = pd.read_excel(ubicacion_xlsx_egresos_residencia,
     header=1
)
#traigo el nombre de las columnas
df_egresos_residencia.columns.values

array(['Residencia habitual ', 1994, 'Unnamed: 2', 1995, 'Unnamed: 4',
       1996, 'Unnamed: 6', 1997, 'Unnamed: 8', 1998, 'Unnamed: 10', 1999,
       'Unnamed: 12', 2000, 'Unnamed: 14', 2001, 'Unnamed: 16', 2002,
       'Unnamed: 18', 2003, 'Unnamed: 20'], dtype=object)

In [8]:
url_base_2 = 'https://www.estadisticaciudad.gob.ar/eyc/wp-content/uploads/2017/05/S_MVH_AX01.xlsx'

dfs = []
# Loop para los años 2005 a 2017
for year in range(2005, 2018):
    # Leer el archivo Excel para el año actual
    df = pd.read_excel(url_base_2, sheet_name=str(year), header=1)
    # Agregar una columna con el año
    df['Año'] = year
    # Agregar el DataFrame a la lista
    dfs.append(df)

# Concatenar todos los DataFrames en uno solo
df_concatenado = pd.concat(dfs, ignore_index=True)

# Mostrar las primeras filas del DataFrame concatenado
print(df_concatenado.head())

                       Hospital   Total Especialidad Unnamed: 3 Unnamed: 4  \
0                           NaN     NaN     Medicina    Cirugía  Pediatría
1  Hospitales grales. de agudos     NaN          NaN        NaN        NaN
2                       Álvarez  284.65       122.08      71.72      49.74
3                      Argerich  405.42        67.66     169.54      83.35
4                        Durand  310.05       114.42      44.79      76.98

        Unnamed: 5 Unnamed: 6 Unnamed: 7   Año Unnamed: 2
0  Tocoginecología   Urgencia      Otros  2005        NaN
1              NaN        NaN        NaN  2005        NaN
2            23.95      17.16          -  2005        NaN
3            37.77       47.1          -  2005        NaN
4            51.87      21.99          -  2005        NaN

In [9]:
#Guardo ubicacion de dataset y leo dataset
ubicacion_xlsx_ma = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ministerio-de-salud/movimiento-hospitalario/mh_internacion.xlsx'
df_ma_internacion = pd.read_excel(ubicacion_xlsx_ma)

In [10]:
# Muestro las primeras filas para corroborar que se haya guardado correctamente
df_ma_internacion.head()

,SERVICIO,ESPECIALIDADES,ING,PASES_A,ING_PASES,ALTAS,DEF,TOTAL,PASES_B,EGR_PASES,...,PROMEDIO_CAMAS_DISP,PROMEDIO_PAC_DIA,PORCENTAJE_OCUP,PROMEDIO_PERM,GIRO,TASA_MORT_HOSP,ANIO,SK_ID_EFECTOR,NOM_EFECTOR_BADATA,OBSERVACIONES
0,Cirugia,Urologia,304,21.0,325.0,319.0,0.0,319.0,4.0,323.0,...,1292.0,499.0,3861.0,563.0,2501.0,0.0,2011,2164,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,NaN
1,Cirugia,Subtotal Cirugia,4661,634.0,5295.0,4616.0,27.0,4643.0,646.0,5289.0,...,13295.0,7213.0,5425.0,498.0,3978.0,51.0,2011,2164,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,NaN
2,Urgencia,Terapia Intensiva,101,236.0,337.0,3.0,62.0,65.0,273.0,338.0,...,1668.0,1398.0,8379.0,1509.0,2026.0,1834.0,2011,2164,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,NaN
3,Urgencia,Subtotal Urgencia,101,236.0,337.0,3.0,62.0,65.0,273.0,338.0,...,1668.0,1398.0,8379.0,1509.0,2026.0,1834.0,2011,2164,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,NaN
4,Urgencia,Total Hospital,9749,1592.0,11341.0,9633.0,124.0,9757.0,1592.0,11349.0,...,31812.0,21721.0,6828.0,813.0,3067.0,127.0,2011,2164,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,NaN

In [11]:
# Muestro el valor de las columnas del df
df_ma_internacion.columns.values

array(['SERVICIO', 'ESPECIALIDADES', 'ING', 'PASES_A', 'ING_PASES',
       'ALTAS', 'DEF', 'TOTAL', 'PASES_B', 'EGR_PASES', 'DIAS_CAMAS_DISP',
       'PAC_DIA', 'PROMEDIO_CAMAS_DISP', 'PROMEDIO_PAC_DIA',
       'PORCENTAJE_OCUP', 'PROMEDIO_PERM', 'GIRO', 'TASA_MORT_HOSP',
       'ANIO', 'SK_ID_EFECTOR', 'NOM_EFECTOR_BADATA', 'OBSERVACIONES'],
      dtype=object)

In [12]:
#Reporte: Porcentaje de población que estuvo internada en los últimos doce meses según sexo y grupo de edad. Ciudad de Buenos Aires. Años 2010/2011-2020/2021
#Guardo ubicacion de dataset y leo dataset
ubicacion_xlsx_sexo_edad = 'https://www.estadisticaciudad.gob.ar/eyc/wp-content/uploads/2020/05/INT01.xlsx'
df_pob_internada_sexo_edad = pd.read_excel(ubicacion_xlsx_sexo_edad)

In [13]:
#Muestro las primeras filas para corroborar que se haya guardado correctamente
df_pob_internada_sexo_edad.head()

,Porcentaje de población que estuvo internada en los últimos doce meses según sexo y grupo de edad. Ciudad de Buenos Aires. Años 2010/2011-2020/2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Sexo y grupo de edad (años),Con internación en los últimos doce meses,NaN,NaN,NaN,NaN
1,NaN,2010,2011,2020.000000,2021.0,NaN
2,Total,7.236334,6.850584,6.554245,6.9,NaN
3,Hasta 19,6.455906,4.254946,3.512158,3.3,NaN
4,20 - 34,6.43401,6.616479,6.747667,6.1,NaN

In [14]:
#Muestro el valor de las columnas del df
df_pob_internada_sexo_edad.values

array([['Sexo y grupo de edad (años)',
        'Con internación en los últimos doce meses', nan, nan, nan, nan],
       [nan, 2010, 2011, 2020.0, 2021.0, nan],
       ['Total', 7.23633389173599, 6.85058356363731, 6.55424452385055,
        6.9, nan],
       ['Hasta 19', 6.45590602331119, 4.25494626124737, 3.51215849949737,
        3.3, nan],
       ['20 - 34', 6.43400959970078, 6.61647881914414, 6.74766694946067,
        6.1, nan],
       ['35 - 49', 5.7268280482581, 6.79672551730089, 6.22499539134191,
        8.1, nan],
       ['50 - 64', 6.55533672725363, 7.15968639558029, 6.5237651444548,
        7.7, nan],
       ['65 y más', 11.6561316410361, 10.6944248356785, 11.5488565899909,
        11.4, nan],
       ['Varón', nan, nan, nan, nan, nan],
       ['Total', 6.20366552307138, 5.65614370614559, 6.57921516558281,
        6.7, nan],
       ['Hasta 19', 6.96737963148109, '3,8a', 4.06012978417485, 4.0, 'a'],
       ['20 - 34', '2,8a', '3,2a', 4.38563757005825, 4.4, 'a'],
       ['35 - 49', '4,0a', '4,6a', 4.95576521764689, 6.4, 'a'],
       ['50 - 64', '6,4a', '7,7a', 7.60316730337539, 7.9, 'a'],
       ['65 y más', 13.2315587367101, 12.8514702186479, 15.8538511233939,
        15.2, nan],
       ['Mujer', nan, nan, nan, nan, nan],
       ['Total', 8.13128724792614, 7.89619900575448, 6.53212971069405,
        7.2, nan],
       ['Hasta 19', '5,9a', '4,7a', 2.96023477547935, 2.4, 'a'],
       ['20 - 34', 9.75653684287041, 9.87007657166308, 8.87306962926009,
        7.7, nan],
       ['35 - 49', '7,2a', 8.7808709859863, 7.39087823882459, 9.6, nan],
       ['50 - 64', '6,6a', '6,8a', 5.61204867467655, 7.6, 'a'],
       ['65 y más', 10.6460530954457, 9.31465536643239, 8.51433448135118,
        9.1, nan],
       ['a Valor de la celda con carácter indicativo (el coeficiente de variación está entre 10% y 20%).',
        nan, nan, nan, nan, nan],
       ['Nota: excluye No sabe/no contesta y Sin dato.', nan, nan, nan,
        nan, nan],
       ['Fuente: Dirección General de Estadística y Censos (Ministerio de Hacienda y Finanzas GCBA). EAH 2010/2011-2020/2021',
        nan, nan, nan, nan, nan]], dtype=object)